/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0 none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
		font-family: Arial, "MS Trebuchet", sans-serif;
		background:#333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
	clear:both;
}

.center{
	text-align:center;
}

/*
My CSS goes here
*/

.container{
	width:940px;
	margin:0 auto;
	padding:0 10px; 
}

#global_nav_wrap{
	height:40px;
	position:relative;
	background:#212121;
	color:#dedede;

}

#global_nav_wrap a{
	color:#dedede;
	text-decoration:none;
}

h1#logo{
	float:left;
	height:35px;
	font-size:20px;
}

ul#main_nav{
	float:right;
	position:relative;
}

ul#main_nav li{
	float:left;
	padding:13px 10px 2px;
}


#main_wrap{
	min-height:400px;
	background:#333;
	padding-top:50px;
	padding-bottom:50px;
}

#userinfo_wrap{
	background:#eee;
	min-height:100px;
	position: relative;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	
}

#usernav_wrap{
	margin-bottom:15px;
}

#user_nav{
	float:right;
}

ul#user_nav li{
	float:left;
	
}

ul#user_nav li a{
	color:#dedede;
	padding:5px 10px;
	text-decoration:none;
}



#userinfo{
	margin-left: 220px;
	padding-top:25px;
	color:#464646;
}




.user_screen_name{
	font-size:32px;
	margin-bottom:5px;
}

.user_full_name{
	font-size:14px;
	color:#4c4c4c;
}

#useravatar_box{
	padding:10px;
	position: absolute;
	background:#fff;
	top:-40px;
}

#content{
	background:#fff url('./images/content_bg.png') repeat-y;
	min-height:200px;
	-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
}

#page{
	float:left;
	min-height:300px;
	width:590px;

	position:relative;
}

#page_inner{
	padding-top:50px;
}

#message_post_box{
	padding-left:10px;
	padding-right:10px;
	margin-bottom:10px;
}

#message_post_box textarea{
	padding:8px;
	border:1px solid #ccc;
	width:386px;
	color: #222222;
	font: 14px/18px "Helvetica Neue",Arial,sans-serif;
	height: 36px;
	outline: medium none;
	overflow-x: hidden;
 	overflow-y: auto;
	padding: 8px;
	white-space: pre-wrap;
	 -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 5px;
	float:left;
}

.submit_message_bth{
	width:90px;
	float:left;
	background:#00adef;
	height:26px;
	border:1px solid #00adef;
	color:#fcf7f7;
	-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 5px;
	font-size:13px;
	font-weight: bold;
	float:left;
	margin-left:20px;
	margin-top:15px;
}

.submit_message_bth:hover{
	background:#00a0e0;
		border:1px solid #00adef;
	cursor: pointer;

}
#messages{
	padding-right:10px;
}

.message {
    border-bottom: 1px solid #CACACA;
    display: block;
    padding: 10px 0;
}

.message_text{
	margin-left:80px;
}
.message_text a.user_link {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    text-decoration: none;
}

.message_text p {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 2px;
}

.message_text i {
    color: #AAAAAA;
    font-size: 12px;
}

.user_avatar{
	float:left;
	
}

.user_avatar img {
    height: 64px;
    width: 64px;
}

#sidebar{
	width:350px;
	float:right;
		min-height:300px;
}

.widget_box{
	padding:10px 0 10px 10px;
	margin-bottom:15px;
}

h3.widget_title{
 	border-bottom: 2px solid #666;
    color: #4a4a4a;
    font-size:18px;
    font-weight: bold;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.location_widget{
	background:#ececec;
	height:30px;
	-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 5px;
	margin-top:20px;
	margin-left:10px;
}

.location_widget ul li a{
	width:90px;
	float:left;
	padding:7px 0;
	background:#00adef;
	text-align: center;
	border:1px solid #00adef;
	color:#fcf7f7;
	-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 5px;
	font-size:13px;
	font-weight: bold;
	float:left;
	margin-left:10px;
	text-decoration:none;
}

.location_widget ul li a:hover{
	background:#00a0e0;
		border:1px solid #00adef;
	cursor: pointer;	
	
}




/* for login page */
#header_text_wrap{
	min-height:100px;
	background:#ececec;
	-moz-border-radius: 5px 5px 0 0 ;
		-webkit-border-radius: 5px 5px 0 0;
	border-bottom:1px solid #DDD;
}

#header_text{
	margin-left:40px;
	padding-top:35px;
}

#header_text h2{
	font-size:30px;
	color:#4c4c4c;
}

#page_wrap{
	background:#fff;
	min-height:300px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	padding-top:50px;
	margin-bottom:100px;
	padding-bottom:50px;
}

#login_box{
margin-left:200px;
width:220px;
border-right:1px solid #CECECE;
padding-right:50px;
	float:left;
}

#login_box label{
	margin-bottom:10px;
	display:block;
	font-weight: bold;
	color:#444444;
}

#login_box input[type='text'] ,#login_box input[type='password']{
	display:block;
	margin-bottom:10px;
	width:200px;
	border:1px solid #ccc;
	color: #222222;
	font: 14px/18px "Helvetica Neue",Arial,sans-serif;
	height: 18px;
	outline: medium none;
	overflow-x: hidden;
 	overflow-y: auto;
	padding: 8px;
	white-space: pre-wrap;
	 -moz-border-radius: 4px 4px 4px 4px;
}

#login_box input[type='submit']{
	width:90px;
	float:right;
	background:#00adef;
	height:26px;
	border:1px solid #00adef;
	color:#fcf7f7;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px;
	font-size:13px;
	font-weight: bold;

	margin-top:15px;

}

#login_box input[type='submit']:hover{
	background:#00a0e0;
	border:1px solid #00adef;
	cursor: pointer;
}

.login_option{
	float:right;
	margin-top:20px;
	font-size:13px;

}

.login_option a{
	text-decoration:none;
	color:#00adef;
}

.login_option a:hover{
	text-decoration:underline;
	color:#00adef;
}

#login_signin_box{
	margin-left:50px;
	float:left;
	color:#444444;
}

#login_signin_box h3{
	font-size:20px;
	margin-bottom:15px;
}

#login_signin_box a{
	text-decoration:none;
	color:#00adef;
}


/* for signup view*/

#signup_box{
margin-left:75px;
width:220px;
border-right:1px solid #CECECE;
padding-right:50px;
	float:left;
}

#signup_box label{
	margin-bottom:10px;
	display:block;
	font-weight: bold;
	color:#444444;
}

#signup_box input[type='text'] ,#signup_box input[type='password']{
	display:block;
	margin-bottom:10px;
	width:200px;
	border:1px solid #ccc;
	color: #222222;
	font: 14px/18px "Helvetica Neue",Arial,sans-serif;
	height: 18px;
	outline: medium none;
	overflow-x: hidden;
 	overflow-y: auto;
	padding: 8px;
	white-space: pre-wrap;
	 -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius:4px;
}

#signup_box input[type='submit']{
	width:90px;
	float:right;
	background:#00adef;
	height:26px;
	border:1px solid #00adef;
	color:#fcf7f7;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 5px;
	font-size:13px;
	font-weight: bold;

	margin-top:15px;

}

#signup_box input[type='submit']:hover{
	background:#00a0e0;
	border:1px solid #00adef;
	cursor: pointer;
}

#page_message_box{
	margin-left:50px;
}

#form_error{
	background: none repeat scroll 0 0 #CFFFCF;
    border: 1px solid #C4C4C4;
    color: #232323;
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px 8px;
	
}

.page_box_wrap{
	margin:0 auto;
}

.page_header{
	margin-bottom:25px;
	font-size:22px;
	margin-left:10px;
}

.page_box_header{
	margin-bottom:15px;
	color:#4c4c4c;
}


.page_box_3{
	float:left;
	width:290px;
	margin-right:10px;
	border:1px solid #CCC;
	background:#F4f4f4;
	padding:10px 5px;
	text-align: center;
	min-height:200px;
}

.page_box_3 form{
	text-align:center;
	
}

.page_map_box{
	width:400;
	float:left;
	margin-right:20px;
}

.location_info_box{
	width:500px;
	float:left;
}


.location_info_form > *{
	
display: block;
}
.location_info_form label{
	margin-bottom:10px;
}

.location_info_form input{
	margin-bottom:15px;
	border:#CCC 1px solid;
	padding:5px;
	font-size:13px;
	width:250px;
}
.location_info_form textarea{
	width:400px;
		margin-bottom:15px;
		border:#CCC 1px solid;
			padding:5px;
			font-size:13px;
}
#ajax_loader_location{
	text-align:center;
	margin-bottom:10px;
}


/*
Checkin View
*/

.checkin_list_box{
	float:left;
	margin-right:40px;
	border-right:1px solid #CCC;
	width:440px;
}

.checkin_search_box{
	float:left;
	width:440px;

}
#search_location_text{
	margin-bottom:10px;
	width:200px;
	border:1px solid #ccc;
	color: #222222;
	font: 14px/18px "Helvetica Neue",Arial,sans-serif;
	height: 18px;
	outline: medium none;
	overflow-x: hidden;
 	overflow-y: auto;
	padding: 8px;
	white-space: pre-wrap;
	 -moz-border-radius: 4px 4px 4px 4px;
}

#search_location_submit{
	width:90px;
	background:#00adef;
	height:35px;
	border:1px solid #00adef;
	color:#fcf7f7;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px;
	font-size:13px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:15px;
	
}

.checkin_result{
	border-bottom:1px solid #CECECE;
	padding:10px 5px;
	text-align:left;
}

.checkin_result:hover{
	background:#ECECEC;
	}
	
.checkin_result_name{
	margin-top:10px;
	margin-bottom:10px;
}


.checkin_result_desc{
	margin-bottom:7px;
}

.checkin_result_desc p{
	font-size:13px;
	color:#333;
}

.checkin_result_count p{
	font-size:13px;
	color:#464646;
}

.checkin_mini_map{
	margin-right:10px;
	width:175px;
	height:115px;
	float:left;
}


.overlay{
 background:#000;
	   position:fixed;
	   top:0px;
	   bottom:0px;
	   left:0px;
	   right:0px;
	   z-index:100;
	opacity:0.8;
}

.box{
		display:none;
	    position:fixed;
	    top:200px;
	    left:30%;
	    right:30%;
	    background-color:#fff;
	    color:#7F7F7F;
	    padding:20px;
	    border:2px solid #ccc;
	    -moz-border-radius: 10px;
	    -webkit-border-radius:10px;
	    -khtml-border-radius:10px;
	    -moz-box-shadow: 0 1px 5px #333;
	    -webkit-box-shadow: 0 1px 5px #333;
	    z-index:101;
}


